*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff9ec4,#ffd6e7);
overflow:hidden;
}

.container{
text-align:center;
}

h1{
font-size:55px;
color:white;
text-shadow:2px 2px 10px #ff4da6;
margin-bottom:20px;
animation:pop 1s ease;
}

@keyframes pop{
from{transform:scale(0);}
to{transform:scale(1);}
}

.profile{
width:220px;
height:220px;
border-radius:50%;
object-fit:cover;
border:6px solid white;
box-shadow:0 10px 25px rgba(0,0,0,.2);
margin-bottom:25px;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
border-radius:30px;
background:#ff4da6;
color:white;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.1);
}

/* LETTER */

.letter-box{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
display:none;
justify-content:center;
align-items:center;
}

.letter{
background:white;
padding:40px;
border-radius:20px;
width:90%;
max-width:500px;
text-align:center;
position:relative;
animation:slide .6s ease;
}

@keyframes slide{
from{
transform:translateY(100px);
opacity:0;
}
to{
transform:translateY(0);
opacity:1;
}
}

.close{
position:absolute;
right:15px;
top:10px;
font-size:30px;
cursor:pointer;
}

#title{
color:#ff4da6;
margin-bottom:20px;
}

#message{
font-size:18px;
line-height:1.6;
}
